html body{
    padding: 0;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    overflow-x: hidden;
    background-color: #0D0B3F;
}

header{
    margin: 0;
    padding: 0;
    background-color: #0D0B3F;
    width: 100%;
    height: 120px;
}

a {
    text-decoration: none;
    color: white;
}

a :visited :hover :active{
    text-decoration: none;
    color: white;
}

.logoHeader{
    width: 330px;
    height: 50px;
    margin: 40px;
}

.texteNav{
    position: absolute;
    display: flex;
    width: 800px;
    height: 30px;
    justify-content: space-between;
    right: 300px;
    top: 45px;
    color: white;
    font-size: 15px;
}

#texte1{
    margin-top: 7px;
    cursor: pointer;
}

#texte2{
    margin-top: 7px;
    cursor: pointer;
}

#texte3{
    margin-top: 7px;
    cursor: pointer;
}

#texte4{
    margin-top: 7px;
    cursor: pointer;
}

#texte5{
    margin-top: 7px;
    cursor: pointer;
}

#texte6{
    margin-top: 7px;
    cursor: pointer;
}

#numeroTelephoneHeader{
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 4px;
}

.bouton{
    position: absolute;
    width: 221px;
    height: 50px;
    right: 30px;
    top: 25px;
    text-align: center;
    background: #24ce8c;
    border-radius: 90px;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

.bouton:hover{
    background: #2eeca0;
    cursor: pointer;
}

.bouton2{
    margin: 30px auto;
    width: 221px;
    height: 50px;
    text-align: center;
    background: #24ce8c;
    border-radius: 90px;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

.bouton2:hover{
    background: #2eeca0;
    cursor: pointer;
}

.ligne{
    position: absolute;
    top: 120px;
    left: 40px;
    width: 95%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.66);
}

.page1 {
    background-color: #0D0B3F;
    width: 100%;
    height: 878px;
}

#containerLogoPage1{
    margin: 80px auto;
    width: 680px;
    height: 100px;
}

#logoPage1{
    padding-top: 30px;
    width: 680px;
    height: 100px;
}

#paragrapheLogo{
    margin: 50px auto;
    width: 100%;
    height: 67px;
    font-size: 25px;
    text-align: center;
    color: #fdfdfe;
}

#paragrapheLogo strong{
    color: #2eeca0;
}

#paragraphe2Page1{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
}

.illustrationPage1{
    width: 1000px;
    height: 560px;
    margin: 100px auto;
}

.quiSommeNous{
    width: 100%;
    height: 700px;
    margin-top: 300px;
    background-color: #0D0B3F;
    display: flex;
}

.containerTexteQuiSommesNous{
    margin-top: 100px;
    margin-left: 250px;
}

#titreQuiSommesNous{
    font-size: 40px;
    width: 50%;
    color: white;
}

#titreQuiSommesNous strong{
    color: #24ce8c;
}

#paragrapheQuiSommesNous{
    width: 60%;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#illustrationQuiSommesNous{
    margin-top: 30px;
    margin-right: 100px;
}

.nosOffres{
    display: flex;
    width: 100%;
    height: 700px;
}

.containerSelectionNosOffres{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 150px 150px 0 250px;
    font-size: 15px;
}

.containerSelectionNosOffres h1{
    margin-top: 15px;
    margin-right: 30px;
    text-align: right;
    color: #FFFFFF;
    white-space: nowrap;
}

#selectionneur1{
    background-image: url("/img/selectionNosOffres.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

#selectionneur2{
    background-image: none;
    background-repeat: no-repeat;
    cursor: pointer;
}

#selectionneur3{
    background-image: none;
    background-repeat: no-repeat;
    cursor: pointer;
}

#selectionneur4{
    background-image: none;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nosTechnologies{
    width: 100%;
    height: 700px;
    display: flex;
}

.containerTexteNosOffres{
    display: flex;
    flex-direction: column;
    width: 58%;
    text-align: right;
    color: white;
}

.containerTexteNosOffres h2{
    font-size: 40px;
    margin-top: 70px;
    margin-right: 140px;
}

.containerTexteNosOffres strong{
    color: #24ce8c;
}

.containerTexteNosOffres h1{
    font-size: 30px;
    margin-right: 140px;
}

.paragrapheNosOffres{
    width: 100%;
    font-size: 20px;
}

.paragrapheNosOffres p{
    width: 600px;
    float: right;
    margin-right: 140px;
}

.containerBoutonNosOffres{
    width: 100%;
}

.boutonNosOffres{
    margin-top: 30px;
    width: 221px;
    height: 50px;
    text-align: center;
    background-color: #24ce8c;
    border-radius: 20px;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    float: right;
    margin-right: 140px;
}

.containerTexteNosTechnologies{
    margin-left: 250px;
    width: 50%;
}

#titreNosTechnologies{
    font-size: 40px;
    width: 50%;
    color: white;
}

#titreNosTechnologies strong{
    color: #24ce8c;
}

#paragrapheNosTechnologies{
    width: 60%;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#boutonNosTechnologies{
    margin-top: 80px;
    width: 221px;
    height: 50px;
    text-align: center;
    background-color: #24ce8c;
    border-radius: 20px;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

.containerIllustrationTechnologies{
    display: flex;
    width: 800px;
    height: 318px;
    margin-right: 50px;
    margin-top: 100px;
    text-align: center;
}

/*----------css pour le slider-----------*/
#sliderIlustration .hcg-slide-container {
    width: auto;
    height: auto;
}
.hcg-slider {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
    max-width: 100%;
    display: inline-block;
    position: relative;
}
.hcg-slides {
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
}
.hcg-slides img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
#hcg-slide-prev, #hcg-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
    text-shadow: 1px 1px 5px #686868;
}
#hcg-slide-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#hcg-slide-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
#hcg-slide-prev:hover, #hcg-slide-next:hover {
    background-color: #000c;
}
.hcg-slide-dot-control {
    margin-top: 10px;
    text-align: center;
}
.hcg-slide-dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.hcg-slide-dot.dot-active {
    background-color: #717171;
}
.hcg-slide-number {
    color: #ffffff;
    font-size: 12px;
    padding: 4px 7px;
    position: absolute;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    background-color: rgba(255,255,255,0.30);
}
/************CSS Animation***********/

#sliderIlustration .hcg-slide-container {
    width: auto;
    height: auto;
}
.hcg-slider {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
    max-width: 100%;
    display: inline-block;
    position: relative;
}
.hcg-slides {
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}
.hcg-slides img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
#hcg-slide-prev, #hcg-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
    text-shadow: 1px 1px 5px #686868;
}
#hcg-slide-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#hcg-slide-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
#hcg-slide-prev:hover, #hcg-slide-next:hover {
    background-color: #000c;
}
.hcg-slide-dot-control {
    margin-top: 10px;
    text-align: center;
}
.hcg-slide-dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.hcg-slide-dot.dot-active {
    background-color: #717171;
}

/************CSS Animation***********/

.animated {
    animation-name: fadeInDown;
    animation-duration: 1s;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeInDown {
    animation-name: fadeInDown;
}
/*---------------------*/

#sliderIlustration{
    margin: 0 auto;
}

.nosArticles{
    width: 100%;
    height: 900px;
    background-color: #0D0B3F;
}

.nosArticles h2{
    color: #24ce8c;
    font-size: 40px;
    width: 300px;
    margin: 0 auto;
}

#containerArticle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 150px auto;
    width: 80%;
}

#article1 img{
    width: 500px;
    height: 450px;
}

#titreArticle1{
    font-size: 25px;
    color: #24ce8c;
    font-weight: bold;
}

#paragrapheArticle1{
    width: 500px;
    color: white;
}

#article2 img{
    width: 500px;
    height: 450px;
}

#titreArticle2{
    font-size: 25px;
    color: #24ce8c;
    font-weight: bold;
}

#paragrapheArticle2{
    width: 500px;
    color: white;
}

.nosReferences{
    height: 500px;
    width: 100%;
}

.nosReferences strong{
    color: #24ce8c;
}

.nosReferences h2{
    font-size: 40px;
    width: 360px;
    margin: 50px auto;
    color: white;
}

.containerSite{
    position: relative;
    z-index: 2;
    display: flex;
    margin-top: 200px;
    width: 100%;
    justify-content: space-between;
}

.logo1{
    width: 400px;
    height: 100px;
}

.logo1:hover{
    -webkit-filter : brightness(70%);
    filter : brightness(70%);
}

.logo2{
    width: 240px;
    height: 100px;
}

.logo2:hover{
    -webkit-filter : brightness(70%);
    filter : brightness(70%);
}

.logo3{
    width: 400px;
    height: 100px;
}

.logo3:hover{
    -webkit-filter : brightness(70%);
    filter : brightness(70%);
}

.logo4{
    margin-right: 50px;
    width: 250px;
    height: 100px;
}

.logo4:hover{
    -webkit-filter : brightness(70%);
    filter : brightness(70%);
}

.logo5{
    margin-right: 50px;
    width: 250px;
    height: 100px;
}

.logo5:hover{
    -webkit-filter : brightness(70%);
    filter : brightness(70%);
}

.footer{
    width: 100%;
    height: 250px;
}

#logoFooter{
    width: 400px;
    height: 60px;
    margin: 40px auto;
}

#logoFooter img{
    width: 400px;
    height: 60px;
}

.containerLieu{
    display: flex;
    width: 350px;
    color: white;
}

#illustrationLieu{
    width: 44px;
    height: 44px;
}

#texteAdresse{
    font-size: 18px;
    margin-top: 5px;
}

#texteAdresse span{
    font-weight: bold;
    font-size: 25px;
}

.containerContact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    color: white;
    margin: 50px auto;
}

.containerContact span{
    color: #24ce8c;
    font-weight: bold;
}

.telephone{
    font-size: 18px;
    margin-right: 30px;
}

.telephone span{
    font-size: 25px;
    font-weight: bold;
}

.mail{
    font-size: 18px;
}

.mail span{
    font-size: 25px;
    font-weight: bold;
}

.reseau{
    margin: 20px auto;
    width: 60px;
}

.reseau img{
    width: 60px;
}

#copyright{
    margin: 0 auto;
    width: 360px;
    color: white;
}

@media (max-width: 1499px) {

    html body{
        background-color: #0D0B3F;
    }

    .texteNav{
        display: none;
    }

    header{
        display: none;
    }

    .containerTexte{
        margin: 0 auto;
        min-width: 30%;
        height: 720px;
        z-index: 2;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .containerIllustrationOffre{
        display: none;
    }

    #illustrationQuiSommesNous{
        width: 100%;
        height: 500px;
        margin-right: 20px;
    }

    .page1{
        width: 100%;
        height: 600px;
        margin: 0 auto;
        background-color: #0D0B3F;
    }

    #containerLogoPage1{
        margin: 100px auto;
        width: 650px;
        height: 100px;
    }

    #logoPage1{
        padding-top: 30px;
        width: 650px;
        height: 100px;
    }

    .illustrationPage1{
        display: none;
    }

    .quiSommeNous{
        width: 100%;
        height: 600px;
        background-color: #0D0B3F;
        display: flex;
        margin: 0;

    }

    .containerTexteQuiSommesNous{
        width: 100%;
        margin-top: 0;
        margin-left: 100px;
    }

    #paragrapheQuiSommesNous{
        width: 300px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    #paragraphe2Page1{
        max-width: 100%;
        text-align: center;
    }

    .bouton2{
        margin: 90px auto;
    }

    .nosOffres{
        display: flex;
        width: 100%;
        height: 700px;
        background-color: #0D0B3F;
    }

    .containerSelectionNosOffres{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        margin: 150px 150px 0 100px;
        font-size: 15px;
    }

    .paragrapheNosOffres{
        width: 100%;
        font-size: 20px;
    }

    .nosTechnologies{
        width: 100%;
        height: 700px;
        display: flex;
        background-color: #0D0B3F;
    }

    .containerTexteNosTechnologies{
        margin-left: 100px;
        width: 600px;
    }

    #paragrapheNosTechnologies{
        width: 300px;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    .containerIllustrationTechnologies{
        display: flex;
        width: 500px;
        height: 318px;
        margin-right: 0;
        margin-top: 100px;
        text-align: center;
    }

    .nosArticles{
        width: 100%;
        height: 900px;
        margin: 0 auto;
        background-color: #0D0B3F;
    }

    #containerArticle{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 150px auto;
        width: 100%;
    }

    .nosReferences{
        height: 500px;
        width: 100%;
    }

    .containerSite{
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .logo1{
        margin: 30px auto;
    }

    .logo2{
        margin: 30px auto;
    }

    .logo3{
        margin: 30px auto;
    }

    .logo4{
        margin: 30px auto;
    }

    .logo5{
        margin: 30px auto;
    }

    .containerContact{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        color: white;
        margin: 50px auto;
    }

    .containerLieu{
        margin: 0 auto;
    }

    .telephone{
        margin: 10px auto;
    }

    .mail{
        margin: 10px auto;
    }
}

@media (max-width: 1073px) {

    .nosArticles{
        width: 100%;
        height: 1650px;
        margin: 0 auto;
        background-color: #0D0B3F;
    }

    #containerArticle{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 150px auto;
        width: 500px;
    }

    #article1{
        margin-bottom: 50px;
    }

    .nosReferences{
        height: 650px;
        width: 100%;
    }
}

@media (max-width: 890px) {

    .nosReferences{
        height: 650px;
        width: 100%;
    }
}

@media (max-width: 645px) {

    #containerLogoPage1{
        margin: 80px auto;
        width: 450px;
        height: 80px;
    }

    #logoPage1{
        padding-top: 30px;
        width: 450px;
        height: 80px;
    }

    #paragraphe2Page1{
        width: 100%;
        height: 60px;
        margin: 0 auto;
        color: white;
        font-weight: normal;
        text-align: center;
        font-size: 25px;
    }

    #illustrationQuiSommesNous{
        display: none;
    }

    .containerSelectionNosOffres{
        display: none;
    }

    .containerTexteNosOffres{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        color: white;
    }

    .containerTexteNosOffres h2{
        font-size: 40px;
        margin-top: 70px;
        margin-right: 0;
        margin-left: 100px;
    }

    .containerTexteNosOffres strong{
        color: #24ce8c;
    }

    .containerTexteNosOffres h1{
        font-size: 30px;
        margin-right: 0;
        margin-left: 100px;
    }

    .paragrapheNosOffres{
        width: 70%;
        font-size: 20px;
        margin-left: 100px;
    }

    .paragrapheNosOffres p{
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .containerIllustrationTechnologies{
        display: none;
    }

    .containerBoutonNosOffres{
        width: 100%;
    }

    .boutonNosOffres{
        margin-top: 30px;
        width: 221px;
        height: 50px;
        text-align: center;
        background-color: #24ce8c;
        border-radius: 20px;
        font-family: 'Istok Web', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        float: left;
        margin-left: 100px;
    }

    .nosReferences{
        height: 750px;
        width: 100%;
    }


}







